body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.colorButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.colorButton:hover {
    background-color: #f0f0f0;
}